---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title="Test">
  <div class="p-8">
    <h1 class="text-4xl text-gold-400">Página de Test</h1>
    <p class="text-beige mt-4">Si ves esto, las rutas de admin funcionan.</p>
    <a href="/admin/login" class="text-gold-300 hover:text-gold-400 underline mt-4 block">Ir a Login</a>
  </div>
</AdminLayout>


